<!-- Tester si un pokemon existe pour executer ce bloc de code -->
<div *ngIf="pokemonToDisplay" class="row">
  <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ pokemonToDisplay.name }}</h2>
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img [src]="pokemonToDisplay.picture">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
            <tr>
              <td>Nom</td>
              <td><strong>{{ pokemonToDisplay.name }}</strong></td>
            </tr>
            <tr>
              <td>Points de vie</td>
              <td><strong>{{ pokemonToDisplay.hp }}</strong></td>
            </tr>
            <tr>
              <td>Dégâts</td>
              <td><strong>{{ pokemonToDisplay.cp }}</strong></td>
            </tr>
            <tr>
              <td>Types</td>
              <td>
                <!-- Utilisation de la pipe créée précédemment pour afficher les types -->
                <span *ngFor="let type of pokemonToDisplay.types" class="{{ type | pokemonTypeColor }}">{{ type }}</span>
              </td>
            </tr>
            <tr>
              <td>Date de création</td>
              <!-- Utilisation de la (| date: format ) pour formater les dates a afficher -->
              <td><em>{{ pokemonToDisplay.created | date:"dd/MM/yyyy" }}</em></td>
            </tr>
            </tbody>
          </table>
        </div>

        <!-- Ajout d'une fonction pour gérer le routour arrière (retour à la liste des pokemons) -->
        <div class="card-action">
          <a type="button" (click)="retour()" class="waves-effect waves-light btn">Retour</a>
          <a type="button" (click)="editerPokemon(pokemonToDisplay)" class="waves-effect waves-light btn" >Editer</a>
          <a type="button" (click)="supprimerPokemon(pokemonToDisplay)">Supprimer</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sinon, si aucun pokemon n'a été trouvé on execute cette partie -->
<h4 *ngIf='!pokemonToDisplay' class="center">Aucun pokémon à afficher !</h4>
